.Header {
  width: 100%;
  height: var(--topbar-h);
  position: sticky;
  top: 0;
  right: 0;
  z-index: var(--layer-4);
  background-color: transparent;
  direction: rtl;
}

.OpacityBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--topbar-bg);
  opacity: 0.5;
}

.BlurBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  backdrop-filter: blur(5px);
}

.Image {
  height: 150%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: var(--layer-5);
  mix-blend-mode: multiply;
}

.BurgerIcon {
  display: none;
}

.Items {
  background-color: transparent;
  height: calc(var(--topbar-h) * 0.8);
  min-width: var(--size-10);
  color: var(--topbar-color);
  font-weight: var(--font-weight-1);
  border: none;
  border-radius: var(--radius-1);
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  font-family: "Lalezar";
  font-size: var(--size-5);
  padding: 0 var(--size-2) 0 var(--size-2);
  z-index: var(--layer-2);
}

.Items:hover {
  /* background-color: var(--topbar-bg-hover); */
  text-decoration: none;
}

.Items:nth-child(2) {
  font-weight: var(--font-weight-9);
}

.Container {
  max-width: calc((100vh - var(--topbar-h)) * var(--slope));
  width: 90%;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: var(--topbar-color);
}

.Navigator {
  text-align: right;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 666px) {
  .Items {
    display: none;
    padding: 0 var(--size-2);
  }
  .Items:nth-child(1) {
    display: inline-block;
  }
  .Items:nth-child(2) {
    display: inline-block;
  }
  .Items {
    min-width: var(--size-8);
  }
  /* .Items:nth-child(2) {display: list-item;} */
  /* .BurgerIcon {display: inline-block;} */
}

@media screen and (max-width: 666px) {
  .Container.Responsive {
    width: 100%;
  }
  .Navigator.Responsive {
    position: relative;
    display: block;
    background-color: var(--topbar-bg);
  }
  .Items.Responsive {
    padding-right: var(--size-2);
    margin-right: 0;
  }
  .Items.Responsive {
    display: block;
    width: 100%;
    right: 0;
    text-align: right;
  }
  .BurgerIcon.Responsive {
    display: none;
  }
  .Navigator.Responsive {
    top: 0;
    transform: translateY(0);
  }
  .Image.Responsive {
    z-index: 0;
  }
}
