.Section {
}

.Container {
    min-height: calc(100vh - var(--topbar-h));
}

.Background {
    transform: translateZ(var(--parallax-layer-2)) scale(var(--parallax-scale-2));
}

.BackgroundImage {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LoreImage {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* .LoreImage.Animated { */
/* animation: Login 2s linear forwards; */
/* } */

/* @keyframes Login {
    0% {
        transform: translate(-50%, 0%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
} */
