body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import "../node_modules/open-props/open-props.min.css";
/* @import "../node_modules/open-props/masks/edges"; */
@import "../node_modules/open-props/src/props.masks.edges.css";
@import "../node_modules/open-props/masks.edges.min.css";
/* @import "../node_modules/open-props/normalize.min.css"; */
/* @import "../node_modules/open-props/buttons.min.css"; */
